@page "/"
@page "/pages/authentication/login"
@layout LoginLayout


<MudText GutterBottom="true"
         Typo="Typo.h4">
    Sign In
</MudText>

<MudText>Don't have an account? <MudLink Href="/pages/authentication/register">Sign Up</MudLink></MudText>

<MudTextField Class="my-6"
              Label="E-mail"
              T="string"
              Value="@("staff@mudblazor.com")"
              Variant="Variant.Outlined">
</MudTextField>

<MudTextField Adornment="Adornment.End"
              AdornmentIcon="@_passwordInputIcon"
              @bind-Value="@Password"
              InputType="@_passwordInput"
              Label="Password"
              OnAdornmentClick="TogglePasswordVisibility"
              Variant="Variant.Outlined" />

<div Class="d-flex justify-space-between align-center">
    <MudCheckBox Class="ml-n1 my-3"
                 Color="Color.Primary"
                 Label="Remember me?"
                 T="bool">
    </MudCheckBox>
    <MudLink Href="/pages/authentication/forgot-password">Forgot pwd?</MudLink>
</div>


<MudButton Color="Color.Primary"
           FullWidth="true"
           Link="/personal/dashboard"
           Size="Size.Large"
           Variant="Variant.Filled">
    Sign In
</MudButton>

@code {
    string Password { get; set; } = "BMWvBPJXZu";

    bool _passwordVisibility;
    InputType _passwordInput = InputType.Password;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;

    void TogglePasswordVisibility()
    {
        @if (_passwordVisibility)
        {
            _passwordVisibility = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _passwordVisibility = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }
}
