@inherits LayoutComponentBase


<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudContainer Class="d-flex align-center"
              MaxWidth="MaxWidth.Small"
              Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Class="pa-8"
                  Elevation="25"
                  MaxWidth="500px"
                  Width="100%">
            <MudIcon Icon="@Icons.Custom.Brands.MudBlazor"
                     Size="Size.Large"
                     Style="width:100px; height:100px;" />
            @Body
        </MudPaper>
        <MudAlert Class="mt-8 mud-width-full"
                  Elevation="25"
                  Severity="Severity.Info"
                  Style="max-width:500px;">
            No authentication is required, click sign in.
        </MudAlert>
    </div>
</MudContainer>

@code {
    private readonly MudTheme _currentTheme = new Theme();
}
